*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(95, 158, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Padauk', sans-serif;
    font-size: 40px;
    color: azure;
}

/* Agregar 2 breakpoints: */
@media(max-width:900px){
    h1{
        font-size: 32px;
    }
    body{
        background-color: rgb(46, 69, 146);
    }
}
@media(max-width:600px){
    h1{
        font-size: 24px;
    }
    body{
        background-color: rgb(124, 56, 124);
    }
}